.song-submission {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0);

  &__container {
    width: 50%;
    margin: 0 auto;
    color: white;
    text-align: left;
  }
}

.submitting-state-edit-song {
  font-size: 30px;
  color: black;
  padding-top: 10%;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.asterisk {
  font-size: 30px;
  color: white;
  padding-bottom: 10%;
}
