$left-navbar-width: 200px;
$left-navbar-color: #000000;

$content-color: #121212;

$topbar-color: #070707;
$playbar-color: #282828;
$volume-bar-color: white;

$text-color: white;

a:-webkit-any-link {
  color: blue;
  display: flex;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
}