@import '@Themes/colors.scss';

.left-nav-bar {
  background-color: $left-navbar-color;
  min-width: $left-navbar-width;
  padding: 100px 0 0 0;
}

.navigation {
  min-width: $left-navbar-width;
  
  &-button {
    color: $text-color;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &-text {
    color: $text-color;
    transform: scale(1.2);
  }

  &-icon {
    color: $text-color;
    transform: scale(1.4);
    left: 10%;
  }
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
