html,body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size: 16px;
}

a, a:link, a:visited, a:focus, a:hover, a:active, a:-webkit-any-link {
}

*:-webkit-any-link {
}

*:-moz-any-link {
}

*:any-link {
}

a:-webkit-any-link {
}
